<div class="side-bottom">
  <div class="side-billing">


    <br>
     <a routerLink="/filelistings" routerLinkActive="active"><img src="http://i.imgur.com/rD7hvGM.jpg" alt="home" width="30px"  align="center"/>Home</a>

     <br><hr>
     <a routerLink="/uploadfile" routerLinkActive="active"><img src="http://i.imgur.com/tZOfg0l.jpg" alt="uploadfile" width="30px"  align="center"/>Upload File</a>

     <br><hr>
     <a routerLink="/test" routerLinkActive="active"><img src="http://i.imgur.com/DG2xQyk.jpg" alt="query-documents" width="30px"  align="center"/>Query Documents</a>

     <br><hr>
     <a (click)="logout()" routerLink="/login" routerLinkActive="active"><img src="http://i.imgur.com/WQPQNgW.jpg" alt="logout" width="30px"  align="center"/>Logout</a>
    <!--<ul>


      <br><br>
     
      <li *ngIf="(af.auth | async)"><a routerLink="/filelistings" routerLinkActive="active">Home</a></li>

      <br><br>

      <li *ngIf="(af.auth | async)"><a routerLink="/uploadfile" routerLinkActive="active">Upload File</a></li>

      <br><br>

      <li *ngIf="(af.auth | async)"><a routerLink="/query" routerLinkActive="active">Query</a></li>

      <br><br>

      <li *ngIf="(af.auth | async)"><a (click)="logout()" routerLink="/login" routerLinkActive="active">Logout</a></li>


    </ul>-->
  </div>




</div>