

<div class="row">

<div class="col-3 col-m-3 menu">
 
</div>

<div class="col-6 col-m-6">
  


<h1>File Detail</h1>
<div >
<a [routerLink]="['/filelistings']">Go Back</a>

<br>


<div class="row">
	

	<div class="col-md-8">
		<ul class="list-group">
			<li class="list-group-item">File Name  : {{listing.name}}</li>
			

		</ul>
		
	</div>


</div>
<div>
 <a class="btn btn-primary" (click)="hitCF()">Process</a>
	<a class="btn btn-default" >Edit</a>
	<a class="btn btn-danger" >Delete</a>
  
</div>
<label>DB Result---</label><h5>{{result}}</h5>
</div>

 

          

</div>

<div class="col-3 col-m-3">

</div>

</div>


