<div class="row">



	<div class="col-6 col-m-12">

		

		<md-sidenav-container fullscreen>


			<md-sidenav #start>
				<md-nav-list>

					<app-side-nav></app-side-nav>

					
				</md-nav-list>




			</md-sidenav>

			<md-toolbar>

				<div class="toolbar-icon">
					<button md-icon-button (click)="start.open()">
          <md-icon  >menu
          </md-icon>
       </button>
				</div>

				<div class="toolbar-heading">
					Home
				</div>








			</md-toolbar>




			<div class="col-m-12 col-s-12">







				<h1> Sellect file </h1>
				<ul class="list-group">
					<li class="list-group-item" *ngFor="let listing of mFileListings">
						<a [routerLink]="['/filelisting/'+listing.$key]">{{listing.name}}</a>
					</li>

				</ul>






			</div>




			<!--<div class="col-m-5 col-s-11">


			</div>-->


		</md-sidenav-container>



	</div>





</div>
<!-- End of action bar row -->