<div class="row">



  <div class="col-6 col-m-12">
    <md-sidenav-container fullscreen>


      <md-sidenav #start>
        <md-nav-list>

          <div class="side-bottom">
            <div class="side-billing">


              <br>
              <ul>


                <br><br>
                <li *ngIf="(af.auth | async)"><a routerLink="/filelistings" routerLinkActive="active">Home</a></li>

                <br><br>

                <li *ngIf="(af.auth | async)"><a routerLink="/uploadfile" routerLinkActive="active">Upload File</a></li>

                <br><br>

                <li *ngIf="(af.auth | async)"><a routerLink="/query" routerLinkActive="active">Query</a></li>

                <br><br>

                <li *ngIf="(af.auth | async)"><a (click)="logout()" routerLink="/login" routerLinkActive="active">Logout</a></li>


              </ul>
            </div>




          </div>




        </md-nav-list>




      </md-sidenav>

      <md-toolbar>

        <div class="toolbar-icon">
          <button md-icon-button (click)="start.open()">
          <md-icon  >menu
          </md-icon>
       </button>
        </div>

        <div class="toolbar-heading">
          Home
        </div>








      </md-toolbar>




      <div class="col-3 col-m-3 menu">

      </div>

      <div class="col-6 col-m-6">







        <div class="login-form" align="center">
          <form (submit)="onAddSubmit()" class="example-form">



            <div class="form-group">

              <h1> Upload your file </h1>
              <input id="image1" name="image1" [(ngModel)]="image1" type="file">
            </div>

            <br><br>
            <a class="btn btn-info" [routerLink]="['/filelistings']" (click)="uploadFile()">Upload</a>


          </form>
        </div>






      </div>




      <div class="col-3 col-m-3">

      </div>


    </md-sidenav-container>



  </div>



</div>