<div class="row">

<!--<div class="col-3  menu">
 
</div> -->

<div class="col-6 col-m-12">
    <md-sidenav-container fullscreen>

   
    <md-sidenav #start>
        <md-nav-list>
         
          <div class="side-bottom">
            <div class="side-billing">
                

                <br>
                <ul > 
            
             <li *ngIf="(af.auth | async)"><a (click)="logout()" routerLink="/login" routerLinkActive="active">Logout</a></li>
            
           
          </ul>
            </div>


            

          </div>

          
            
            
        </md-nav-list>

        
     

    </md-sidenav>

    <md-toolbar >
      
    <div class="toolbar-icon">
      <button md-icon-button (click)="start.open()" >
          <md-icon  >menu
          </md-icon>
       </button>
    </div>

    <div class="toolbar-heading">
     Cloud Function Demo
    </div>

    

    

    <!--</div>-->


    </md-toolbar> 



<!-- Main content -->
    <div class="col-m-7 col-s-12">
    






       <div class="login-form" align="center">
        <form class="example-form" (submit)="executeURL($event, idToken.value)">

          <table class="example-full-width" cellspacing="0">
            <tr>
              <td align="center">
                
                   
                    <md-input-container class="example-full-width">
                    <input  mdInput #email type="email" id="email" class="form-control" placeholder="ID Token" value={{this.userToken}}>
                </md-input-container>
                
              </td>
            </tr>
            <tr>
              <td align="center">
                


                    <md-input-container class="example-full-width">
                    <input  mdInput  type="text" id="result" class="form-control" placeholder="Result form CF" value={{this.result}}>
                </md-input-container>
                
              </td>
            </tr>
            <tr>
              <td align="center ">

               
                
                 <a md-raised-button   (click)="executeURL($event,email.value)">Execute CF</a>
                 <br><br><br>

               

                
                
              </td>
            </tr>
            <tr>
              <td>
                 <ul > 
           
            
           
          </ul>
              </td>
            </tr>
          </table>
        </form>




        <form (submit)="onAddSubmit()">
  
 
  
  <div class="form-group">

    
    <input id="image" name="image" [(ngModel)]="image" type="file" >
  </div>
  
<br><br>
  <a md-raised-button   (click)="onAddSubmit()">Upload</a>
  
</form>
        

      </div> 


     
    </div><!-- End of col-1 -->



    <div class="col-m-5 col-s-11">
      <!--<app-bill-detail></app-bill-detail> -->
      
    </div><!-- End of col-2  -->



      <!--<div class="col-m-1 col-s-1">
          
        </div> <!-- End of column 3 -->


<!-- End of main content -->
          
</md-sidenav-container>

          

</div>

<!--<div class="col-3">

</div> -->

</div> <!-- End of action bar row -->



























